@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #0B6E4F;
    --secondary-color: #393939;
    --primary-color-hover: #094d36;
    --background-color: #fffbf4;
    --text-color: #222222;
    --card-bg: #ffffff;
    --list-bg: #ffffff;
    --opacity-bg: rgba(255, 255, 255, 0.75);
    --bg-img: url('../imgs/landscape3.jpg');
}

* {
    font-family: 'Outfit', sans-serif;
}

body {
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg) !important;
}

.list-group-item {
    background-color: var(--list-bg) !important;
    color: var(--text-color) !important;
}

.bg-primary {
    background-color: var(--secondary-color) !important;
}

.color-primary {
    color: var(--primary-color) !important;
}

.display-1 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    font-style: italic;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
}

.btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color) !important;
    color: white !important;
    border-color: var(--primary-color) !important;
}

.bg-img {
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.opacity {
    background-color: var(--opacity-bg) !important;
}

.bg-light {
    background-color: var(--background-color) !important;
}

@media (max-width: 735px) {
    .fs-6 {
        font-size: 2.1vw !important;
    }
}

