@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

h1 {
    color: blue;
}

.myDivClass {
    height: 50px;
    width: 50px;
    background-color: tomato;
    border: dotted 2px green;
    margin-left: 12em;
    padding: 2vw;
}